/* Everything */
.theme{
    background-color: red
}
/* Sizes */
.arrowSize{
    height: 10vh;
    background-color: blue
}
/* Left Right and Bottom */
.bottomDiv{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.left{
    position: fixed;
    left: 0;
    width: 100%;
}

.right{
    position: fixed;
    right: 0;
    width: 100%;
}
/* Other */
.offRed{
    color: rgb(241, 19, 19);
}

.topSpace {
    margin-top: 34.789vh;
}