/* Everything */
.theme{
    background-color: red
}
/* Sizes */
.arrowSize{
    height: 10vh;
    background-color: blue
}
/* Left Right and Bottom */
.bottomDiv{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.left{
    position: fixed;
    left: 0;
    width: 100%;
}

.right{
    position: fixed;
    right: 0;
    width: 100%;
}

/* Arrows */
.arrowleft{
    transform: rotate(270deg)
}
.arrowright{
    transform: rotate(90deg)
}
.arrowdown{
    transform: rotate(180deg)
}
/* Colors */
.offRed{
    color: rgb(241, 19, 19);
}
/* Other */
.topSpace {
    margin-top: 34.789vh;
}